body {background-color: black;}

#date_selected {
	background-color: black;
	text-align:center;
}

#flu_map {
	text-align: center;
}

.railway {
	stroke: white;
	stroke-width: 2;
	stroke-opacity: 1.0;
}

.railway.南北線 {
	stroke: green;
	stroke-width: 2;
	stroke-opacity: 1.0;
}

.railway.東西線 {
	stroke: orange;
	stroke-width: 2;
	stroke-opacity: 1.0;
}

.railway.東豊線 {
	stroke: blue;
	stroke-width: 2;
	stroke-opacity: 1.0;
}

.headings {
	color:white;
	text-align: center;
}

a:link { color:yellow; }
a:visited { color:orange; }

.description {
	color: white;
	font-size: 14px;
	text-align: center;
}
.date_str {
	font-weight: bold;
	font-size:20px;
	color: lime;
}

.date_arrow {
	background-color: black;
	font-weight:bold;
	font-size:20px;
	color: red;
}

.tooltip {
	border: 1px solid blue;
	background-color: white;
	padding: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

#explain {
	position: absolute;
	top:160px;
	left:10px;
	width:200px;
	background-color: gray;
	color: white;
	font-size:10px;
}
